[[plugins]]
  package = "./netlify/plugins/preview-database"

[[edge_functions]]
  path = "/share/club/:clubId/review/:workId"
  function = "shared-review"

[[redirects]]
    from = "/api/*"
    to = "/.netlify/functions/:splat"
    status = 200

[[redirects]]
    from = "/*"
    to = "/index.html"
    status = 200