:root {
  --primary-color: #2196F3;
  --highlight-color: #6FBAFF;
  --secondary-color: #394B68;
  --background-color: #222831;
  --low-key-background-color: #393E46;
  --highlight-background-color: #b1a005;
  --text-color: #FFFFFF;

  background-color: var(--background-color);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}